.sectionHello {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 16px;

    & .hello {}

    & .helloLetsgo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;

        & h1 {
            color: #FFF;
            text-align: center;
            font-family: Montserrat Alternates;
            font-size: 20px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
        }

        & p {
            color: #FFF;
            text-align: center;
            font-family: Montserrat Alternates;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
        }
    }

    & .buttons {
        display: flex;
        justify-content: center;
        gap: 18px;
        margin-top: 20px;

        & .buttonsOne {
            color: #504F75;
            text-align: center;
            font-family: Montserrat Alternates;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            padding: 6px 12px;
        }

        & .buttonsTwo {
            color: #FFF;
            text-align: center;
            font-family: Montserrat Alternates;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            padding: 6px 24px;
        }
    }

    & .helloImg {
        width: 337px;
        height: auto;
    }

    & .custom {
        display: flex;
        gap: 4px;
        text-align: center;
        // align-items: center;
    }
}

@media (min-width: 767px) {
    .sectionHello {
        gap: 32px;
        & .helloLetsgo {
            width: calc(100% - 200px);
            gap: 24px;
            & h1 {
                font-size: 32px;
            }

            & p {
                font-size: 20px;
            }
        }

        & .buttons {
            & p {
                font-size: 16px !important;
            }
        }

        & .helloImg {
            width: 593px;
            height: auto;
        }
    }
}