.list {
    // margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.noObj {
    color: #b5b5b5;
    font-family: Montserrat Alternates;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-top: 70px;
}