.cardMain {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 320px;
    border-radius: 20px;
    background: #383752;
    align-items: center;
    padding: 16px;
    justify-content: center;
    margin: auto;
    position: relative;

    & .avatar {
        & img {
            width: 133px;
        }
    }

    & .nemo {
        display: flex;
        justify-content: center;
        margin-top: 8px;

        & p {
            color: #F8F8F8;
            font-family: Montserrat Alternates;
            font-size: 24px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
        }
    }

    & .red {
        cursor: pointer;
        position: absolute;
        top: 16px;
        right: 16px;
        & img {
            display: block;
            width: 32px;
            height: auto;
        }
    }

    & .info {
        display: flex;
        flex-direction: column;
        gap: 8px;

        & .customStr {
            flex-direction: column !important;
        }

        & .string {
            display: flex;
            flex-direction: row;
            gap: 8px;
            flex-wrap: wrap;

            & .group {
                display: flex;
                flex-direction: row;
                gap: 8px;
                align-items: center;

                & img {
                    width: 25px;
                }

                & p {
                    color: #75BD4E;
                    font-family: Montserrat Alternates;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
            }

            & .text {
                color: #B7B7BD;
                font-family: Verdana;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                /* 171.429% */
            }
        }
    }
}

@media (min-width: 768px) {
    .cardMain {
        flex-direction: row;
        max-width: 616px;
        gap: 16px;
    }
}