.written {
    border-radius: 10px;
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    background: url(../../../../public/assets/td/starsWrite.png) no-repeat center, linear-gradient(180deg, #82C34F 0%, rgba(61, 167, 73, 0.93) 99.95%, #504F75 99.96%, #504F75 99.97%, rgba(64, 120, 63, 0.00) 99.98%);

    & p {
        color: #FFF;
        font-family: Montserrat Alternates;
        font-size: 11px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &:hover {
        background: url(../../../../public/assets/td/starsWrite.png) no-repeat center, linear-gradient(180deg, #62913e 0%, rgba(61, 167, 73, 0.93) 99.95%, #504F75 99.96%, #504F75 99.97%, rgba(64, 120, 63, 0.00) 99.98%);

    }
}

@media (min-width: 767px) {

    .written {
        width: 100px;

        & p {
            font-size: 14px;
        }
    }
}