.sectionPurpose {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Montserrat Alternates;

    padding: 32px 0px;

    & .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    & .title {
        color: #FFF;
        text-align: center;
        font-size: 19px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
    }

    & .answer {
        padding: 0px 20px;
        margin-top: 16px;
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
    }

    & .answerPk {
        display: none;
    }

    & .volodyaTop {
        margin-top: 24px;
        width: 315px;
        height: 251px;
        border-radius: 30px;
    }

    & .text {
        margin-top: 24px;
        margin-bottom: 24px;
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
    }

    & .buttonsOne {
        color: #504F75;
        text-align: center;
        font-family: Montserrat Alternates;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        padding: 6px 12px;
    }
    .custom { 
        margin: 0 auto;
    }
}

@media (min-width: 767px) {
    .sectionPurpose .title {
        font-size: 24px;
    }

    .sectionPurpose .answer {
        font-size: 20px;
    }

    .sectionPurpose .text {
        font-size: 20px;
    }

    .sectionPurpose .buttonsOne {
        font-size: 20px;
    }
}

@media (min-width: 1024px) {
    .custom {
        margin: 0px;
    }
    .sectionPurpose {
        padding: 48px 0px;

        .answerPk {
            display: block;
        }

        & .answer {
            padding: 0px;
            text-align: left;
            margin-top: 0px;
            max-width: 680px;
        }

        & .text {
            padding: 0px;
            text-align: left;
            max-width: 680px;
        }

        & .volodyaTop {
            margin: 0px;
        }

        & .container {
            padding: 0 20px;
            display: flex;
            flex-direction: row;
            gap: 32px;
            margin-top: 32px;
            align-items: center;
            justify-content: center;

            & .answerMob {
                display: none;
            }
        }
    }
}