.main {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px;
    align-items: center;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation: fade 0.5s ease-in;
}