.textLoading {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
    -webkit-mask-size: 200%;
    animation: loadingAnimation 1.5s infinite;
}

@keyframes loadingAnimation {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
}

@keyframes slideIn {
    0% {
        left: -100%;
        transform: scale(1);
    }

    50% {
        left: calc(100% - 99.5%);
        transform: scale(0.99);
    }

    100% {
        left: 0;
        transform: scale(1);
    }
}

.mopik {
    display: flex;
    // min-height: 70px;
    justify-content: space-between;
    user-select: none;

    caret-color: transparent;
    -webkit-tap-highlight-color: transparent;

    & .data {
        animation: slideIn 1s forwards;
        width: fit-content;
        border-radius: 10px;
        background: #383752;
        padding: 10px;

        gap: 12px;
        display: flex;
        flex-direction: column;

        & .written {
            display: flex;
            flex-direction: column;
            gap: 8px;
            // padding: 10px;
            // cursor: pointer;


            & .title {
                color: #FFF;
                font-family: Verdana;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            & .text {
                cursor: pointer;
                white-space: pre-line;
                word-break: break-word;
                color: #B7B7BD;
                font-family: Verdana;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
            }
        }

        & .podval {
            display: flex;
            justify-content: space-between;
            align-items: center;

            & .dateCreate {
                color: #B7B7BD;
                font-family: Verdana;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        & .social {
            animation: slideIn 1s forwards;
            display: flex;
            flex-direction: column;
            gap: 12px;
            // margin-top: 12px;
        }

        & .next {
            animation: slideIn 1s forwards;
            color: #75BD4E;
            font-family: Verdana;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }
    }

    & .meta {
        width: 37px;
        height: auto;
        border-radius: 0px 10px 10px 0px;
        background: #27273A;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 16px;
        padding-bottom: 16px;

        & .like img {
            width: 25px;
            height: auto;
            cursor: pointer;
            transition: transform 0.3s;

            &:hover {
                transform: scale(1.15);
            }

            &:active {
                animation: slideIn 2s forwards;

                @keyframes slideIn {
                    0% {
                        left: -100%;
                        transform: scale(1);
                    }

                    50% {
                        left: calc(100% - 99.5%);
                        transform: scale(0.99);
                    }

                    100% {
                        left: 0;
                        transform: scale(1);
                    }
                }
            }
        }

        & .moot img {
            width: 25px;
            height: auto;
            cursor: pointer;
        }

        & .comment img {
            width: 30px;
            height: auto;
        }

        & .views {
            color: #B7B7BD;
            font-family: Verdana;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}

@media (min-width: 767px) {
    .mopik {
        & .data {
            padding: 13px;

            & .social {
                // margin-left: 30px;
                // margin-right: 30px;
            }
        }
    }
}