.mopik {
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    user-select: none;

    caret-color: transparent;
    -webkit-tap-highlight-color: transparent;

    & .data {
        cursor: pointer;
        width: fit-content;
        // border-radius: 15px 0px 0px 15px;
        border-radius: 10px;
        background: #383752;
        padding: 10px;

        & .written {
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin-bottom: 10px;
            // padding: 10px;


            & .title {
                color: #FFF;
                font-family: Verdana;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            & .text {
                white-space: pre-line;
                color: #B7B7BD;
                font-family: Verdana;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
            }
        }

        & .social {
            display: flex;
            flex-direction: column;
            gap: 12px;
            margin-top: 12px;
        }

        & .next {
            color: #75BD4E;
            font-family: Verdana;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }
    }

    & .meta {
        width: 37px;
        height: auto;
        border-radius: 0px 10px 10px 0px;
        background: #27273A;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 16px;
        padding-bottom: 16px;

        & .like img {
            width: 25px;
            height: auto;
        }

        & .comment img {
            width: 30px;
            height: auto;
        }

        & .views {
            color: #B7B7BD;
            font-family: Verdana;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}

@media (min-width: 767px) {
    .mopik {
        & .data{
            padding: 13px;
            & .social {
                // margin-left: 30px;
                // margin-right: 30px;
            }
        }
    }
}