.sectionWork {
    background-color: #5D6887;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 32px 0px;

    & .title p {
        color: #FFF;
        text-align: center;
        font-family: Montserrat Alternates;
        font-size: 19px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
    }

    & .mediaTI {
        border-radius: 30px;
        background: #383752;
        box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.28);
        padding: 16px;

        & img {
            width: 288px;
            height: auto;
        }
    }

    .batyaListCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 28px;
    }

    .listMy {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 16px;

        & li {
            color: #FFF;
            font-family: Montserrat Alternates;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
        }
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-top: 24px;

        & .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-family: Montserrat Alternates;
            gap: 8px;

            & p:first-child {
                color: #FFF;
                text-align: right;
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
            }

            & p:last-child {
                color: #FFF;
                text-align: right;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
            }
        }
    }
}

@media only screen and (min-width: 767px) {
    .sectionWork .title p {
        font-size: 24px;
    }

    .sectionWork .mediaTI {
        & img {
            width: 483px;
            height: auto;
        }
    }

    .sectionWork .listMy {
        & li {
            font-size: 20px;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .sectionWork {
        & .mediaTI {
            & img {
                width: 426px;
                height: 410px;
            }
        }

        & .batyaListCard {
            display: flex;
            flex-direction: row-reverse;
            padding: 0px 20px;
        }

        & .listMy {
            max-width: 530px;
            text-align: right;
            display: flex;
            flex-direction: column;
            gap: 32px;
        }

        & .list {
            margin-top: 32px;
            justify-content: right;
            gap: 32px;
        }
    }

}