.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
    border-radius: 0px 0px 15px 15px;
    max-width: 1440px;
    margin: 0 auto;

    & .title {
        color: #fff;
        text-align: center;
        font-family: Montserrat Alternates;
        font-size: 20px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        cursor: pointer;
    }

    & .links {
        display: none;
    }
}


@media (min-width: 767px) {
    .burger {
        display: none;
    }

    .header {
        & .title {
            font-size: 24px !important;
        }

        & .links {
            display: flex !important;
            gap: 16px;

            & li a {
                cursor: pointer;
                color: #FFF;
                font-family: Montserrat Alternates;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }
}


@media (min-width: 1440px) {
    .header {
        padding-left: 88px;
        padding-right: 88px;
    }
}