.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
    border-radius: 0px 0px 15px 15px;

    & .title {
        color: #fff;
        text-align: center;
        font-family: Montserrat Alternates;
        font-size: 20px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        cursor: pointer;
    }

    & .links {
        display: none;
    }
}


@media (min-width: 767px) {
    .burger {
        display: none;
    }

    .title {
        font-size: 24px !important;
    }

    .links {
        display: flex !important;
        gap: 16px;

        & li {
            cursor: pointer;
            color: #FFF;
            font-family: Montserrat Alternates;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}