.mainDrop {
    width: 100%;
    display: flex;
    flex-direction: column;
    caret-color: transparent;
    -webkit-tap-highlight-color: transparent;

    & .button {
        cursor: pointer;
        background-color: #383752;
        filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        user-select: none;

        &:hover {
            background-color: #27273A;
        }

        & p {
            color: #FFF;
            font-family: Montserrat Alternates;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

    }

    & .dataDrop {
        display: none;
        transition: margin-top 1s;
    }
}

@media (min-width: 767px) {
    .mainDrop {
        & .button {
            height: 48px;
            & p {
                font-size: 17px;
            }
        }
    }
}