footer {
    display: block;
    height: 180px;
    margin: 0 auto;
    background: #5D6887;

    & .st {
        margin: 0 auto;
        max-width: 1440px;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & p {
            color: #FFF;
            font-family: Montserrat Alternates;
            font-size: 24px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
        }
    }


}