/* начало обнуляющих стилей */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* конец обнуляющих стилей */

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700;800&display=swap');

body {
  background-color: #504F75;
  // background: linear-gradient(107.21deg, #2B2C4E 0%, #09091E 86.73%);
  // background: linear-gradient(107.21deg, #2B2C4E 0%, #161636 86.73%);
  // background: linear-gradient(107.21deg, #272846 0%, #1b1b31 86.73%);
  // background: linear-gradient(107.21deg, #272846 0%, #1e2034 86.73%);
  // background: url(../public/assets/bg/mmm.jpg);
  // background-size: cover;
  // background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*
    box-shadow: rgba(36, 81, 244, 0.1) 0px 0px 2px, rgb(45 131 221 / 30%) 0px 4px 12px;
    border: 1px solid rgb(61 32 239);
*/

/*
    box-shadow: rgba(36, 81, 244, 0.1) 0px 0px 2px, rgb(45 131 221 / 30%) 0px 4px 12px;
    border: 1px solid rgb(174 32 239);
*/

/*
    border: 1px solid rgb(32 239 201 / 30%);
    box-shadow: rgba(36, 81, 244, 0.1) 0px 0px 2px, rgba(45, 131, 221, 0.3) 0px 4px 12px;
*/

[class*="__container"] {
  padding: 0px 20px;
}