.pre {
    padding: 16px;
    white-space: break-spaces;
    max-width: 768px;
    font-size: 15px;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 32px;
    line-height: normal;
    color: #efefef;
}