.shadow {

    width: 100%;
    height: 100%;
    position: fixed;
    padding: 1rem;
    left: 0;
    top: 0;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 1;
    z-index: 2147483636;
}

.main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #383752;
    min-width: 320px;
    // height: 520px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    padding: 16px;

    & .close {
        position: absolute;
        right: 16px;
        top: 16px;
        cursor: pointer;

        &:hover {
            animation-name: rotateAnimation;
            animation-duration: 0.1s;
            animation-fill-mode: forwards;
            animation-timing-function: linear;
        }

        @keyframes rotateAnimation {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(90deg);
            }
        }
    }

    & .mode {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 10px;

        & img {
            width: 200px;
            min-height: 198px;
        }
    }
}

.choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    & .one {
        color: #FFF;
        font-family: Montserrat Alternates;
        font-size: 13px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }
}


.buttonMode {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background: #404040;

    padding: 10px 24px;

    &:hover {
        background-color: #383838;
    }

    & p {
        color: #FFF;
        font-family: Montserrat Alternates;
        font-size: 16px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }
}

.form {

    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 8px;

    .modeP {
        color: #FFF;
        font-family: Montserrat Alternates;
        font-size: 16px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }

    & .button {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        border: 2px solid #626262;
        background: #F1F1F1;
        padding: 10px 50px;
        margin: auto;
        margin-top: -8px;

        & p {
            color: #626262;
            font-family: Montserrat Alternates;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
    }

    & .lvl {
        display: flex;
        flex-direction: column;
        gap: 8px;

        & label {
            color: #B7B7BD;
            font-family: Montserrat Alternates;
            font-size: 13px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        & input {
            padding-left: 4px;
            border-radius: 10px;
            border: 2px solid #626262;
            background: #F1F1F1;
            height: 36px;

            color: #363638;
            font-family: Montserrat Alternates;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
    }

    & .lvl2 {
        display: flex;
        gap: 8px;
        cursor: pointer;

        & label {
            color: #B7B7BD;
            font-family: Montserrat Alternates;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
    }
}

@media (min-width: 767px) {
    .main {
        padding: 0px;
        flex-direction: row;

        & .mode {
            padding: 16px;
            background: #65A455;
            border-radius: 15px 0px 0px 15px;

            & img {
                width: 250px;
            }
        }
    }

    .form {
        gap: 22px;
        padding: 16px;
        min-width: 332px;
        min-height: 304px;
        & .lvl {
            & label {
                font-size: 14px;
            }

            & input {
                height: 38px;
            }
        }

        & .button {
            margin-top: 0px;
        }
    }

}